<%- include("../partials/header") %>





	<header class="jumbotron">
		<div class="container">
			<h2 style="font-weight:700">Welcome To YelpCamp! </h2>	
			<p style="font-size:18px">View our campgrounds from all over the world</p>
			<a class="btn btn-large btn-primary" href="/campgrounds/new">Submit New Camp</a>
		</div>
	</header>



	<div class =" row text-center" style="display:flex; flex-wrap: wrap">
		<%camps.forEach(function (camp){%>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%=camp.img%>">
					<div class="caption">
						<h4><%=camp.name%></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
				
			</div>
	<%});%>
	</div>




<%- include("../partials/footer")%>